
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Let's Shop!</title>
  </head>
  <body>
    <h1>Let's Shop!</h1>
    <form method = "post" action= "/checkout">
        <div>
            <p>What would you like to purchase?: <input type= "text" name="item" id= "item"></p>    
        </div>    
        <input type= "submit" id= "submit">
    </form>
 </body>
</html>    