<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  
  <body>
    
      <form method="post" action="/checkout">
        <p>Enter an item to purchase:</p>
        <textarea id='item' name='item'></textarea>
        <br>
        <button type="submit" value="submit">Submit</button>
      </form>
      
  </body>
    
</html>
